.d-flex.align-items-center.p-3.my-3.text-white-50.bg-purple.rounded.box-shadow
  = image_tag 'https://getbootstrap.com/assets/brand/bootstrap-outline.svg', class:'mr-3', width:'28', height:'28'
  .lh-100
    %h3.mb-0.text-white.lh-100
      All Tickets
  .ml-auto
    = link_to 'New', new_ticket_path, class:'btn text-white p-0'
.my-3.p-3.bg-white.rounded.box-shadow
  %table.table
    %thead
      %tr
        %th Number
        %th Name
        %th Priority
        %th Status
        %th Type
        %th
    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= ticket.number
          %td= link_to ticket.name, ticket_path(ticket)
          %td= ticket.priority.humanize
          %td= ticket.status.humanize
          %td= ticket.ticket_type.humanize
          %td
            = link_to 'Edit', edit_ticket_path(ticket)